
/* Metatags */
%meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
%meta{ charset: "utf-8" }

/* Title */
%title= @page.setting('title') || site_setting('name')

/* More metatags */
%meta{ content: @page.setting('description')  || site_setting('description'),       name: "description" }
%meta{ content: @page.setting('author')       || site_setting('author'),            name: "author"      }
%meta{ content: "width=device-width, initial-scale=1",                              name: "viewport"    }

/* CSS, fonts, and icons */
%link{ href: '/bootstrap.scss', rel: 'stylesheet', type: 'text/css' }
%link{ href: theme_setting('google_font_link'), rel: 'stylesheet', type: 'text/css' }
%link{:href => "/favicon.ico", :rel => "shortcut icon"}/

/* Javascripts */
%script{ src: "/js/vendor/require.js", data: { main: "/js/main" } }