
header{

  border-bottom: 1px solid $lightgrey;
  text-align: center;
  padding-top: rhythm(10);

  img{
    height: rhythm(12);

    @include respond-to($breakpoint-1) {
      height: rhythm(16);
    }
  }

  h3{
    display: block;
    color: lighten($base-font-color, 20%);
    font-weight: 300;
    @include super-rhythm(1,0,0,0,18px);
  }

  .links{
    font-weight: 600;
    @include super-rhythm($base-line-mult,0,0, 10);
    
    a{
      padding: rhythm(1);
      margin: rhythm(1);
      @include super-rhythm(0,0.5,0.5,0, 16px);
    }
  }

}